@import "tailwindcss";

html,
body {
  width: 100%;
  min-height: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
}
